*{  

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
}
#topPage{
   
    background-image: url("images/div_topPage.jpg");
    background-size:     cover;
    background-repeat: no-repeat;
   
    background-position: 30% 50%; 
    height: fit-content;
}
#hamburger{
    display: none;
}
#report{
    flex: 1;
  
    width: fit-content;
}
.list{
    list-style-type: none;
    padding: 1.5vh;
    display:flex;
    justify-content: flex-end;
    
}

#homeBar>li{
    width: fit-content;
   
}
#homeBar li>a{
    padding-right: 3vh; 
    font-weight: bold;
    font-size: 2.2vh;
    color: #000000;
    background-color: #6868683f;
    text-shadow: 0px 1px 0px black;
    text-decoration: none;
    margin: 0 1vh;
   
}
#homeBar li>a:hover{
    text-decoration: underline;
    color:red;
  
}

header{
    text-align: center;
    color:red;
   
}
header h1{
    padding-top: 3vh;
    text-shadow: 1px 3px 2px black;
    font-size: 9vh;
    font-weight: bold;    
}
header h2{
    font-size: 3.5vh;
    text-shadow: 1px 1px 1px black;
}
#motivazione{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px black;
}
.main-container{
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: fit-content;
    height: fit-content;
  
}
.main-container > div{
  
    padding: 1em;
}

.article-list > li{
    display: block;
    margin-top: 15px;
    border: solid transparent;
    text-align: center;
}
.article-list > li > a{
    padding: 5%;
    color: black;
}
.article-list > li > a:hover{
    padding: 5%;
    color: rgb(65, 65, 221);
}
.article-img{
    width: 100%;
    padding: 5%;
    padding-bottom: 2.5%;
}
.main-container > .right-content{
    text-align: left;
    
    height: fit-content;
}
.main-container > .right-content > ul{
    list-style-type: none;
}
.main-container > .right-content > ul > li> ul{
    list-style-type: none;
}
.main-container > .right-content > ul > li> h1{
    color:#1945bd;
    text-shadow: 1px 1px 1px #392ed6;
    font-size: 35px;
}
.main-container > .right-content > ul > li> p{
    width: 75%;
    font-size: 21px;
    
   
}
.highlight{
    background-color: yellow;
}

.bolder{
    font-size: 130%;
    font-weight: bold;
}
#cicatriciList{
    
    padding-left: 2%;
}
.toggle-element{
    width: 75%;
    font-size: 23px;
    font-weight: normal;
    margin-top: 3%;
   
    height: fit-content;
}
.toggle-element>p{
    font-size: 21px;
    font-weight: lighter;
    text-decoration: none;
    border: solid 1px rgba(98, 94, 94, 0.466);
}
.main-cicatrici{
    text-decoration: underline;
    cursor: pointer;
}
.main-cicatrici:hover{
    text-decoration: underline;
}
/*--Footer--*/

.footer{
    background: #303036;
    color: #d3d3d3;
    height: 35vh;
    position: relative;
}
.footer .footer-content{
   
    height: 85%;
    display: grid;
    grid-template-columns:  30% 40% 30%;
    
}
.footer .footer-bottom{
    background:  #343a40;
    color: #686868;
    height: 15%;
    width: 100%;
    text-align: center;
     position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top:20px;
}

.links{
  
    text-align: center;
}

.about > h3{
    padding-top: 2%;
    text-align: center;
}
.about > h3>a{
    color:white;
    text-decoration: none;
}
.about > h3>a:hover{
    color:white;
    text-decoration: underline;
}
.links > h3{
    padding-top: 6%;
    
}
.links > p> a{
    text-decoration: none;
    color: white
}
.links > p> a:hover{
    text-decoration: underline;
    color: white;
}
.links > ul > li > a{
    text-decoration: none;
    color:rgb(255, 255, 255)
}
.links > ul > li>a:hover{
    padding-left: 25%;
    text-decoration: underline;
    
}
#facebook:hover{
    color: rgba(21, 139, 235, 0.787);
}
#twitter:hover{
    color: rgb(63, 180, 209);
}
#instagram:hover{
   color: rgb(192, 52, 192) 
}
.links > ul {
    display: table;
    margin: 0 auto;
    list-style-type: disc;
}
.contact-form > h3{
    padding-top: 6%;
    
}
.contact-form>form>p>input[type=text] {
    border:1px solid black;
    border-radius: 10px;
   
  }

.contact-form>form>p>input[type=text]:focus {
    background-color: lightblue;
  }
.contact-form> form > textarea {
    width: 70%;
    height: 35%;
    padding: 1% 1%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: vertical;
  }
  @media only screen and (max-width: 600px) {
      .footer .footer-content{
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
      }
      .list{
          display: block;
          position: absolute;
    }
      #hamburger{
        display: block;
        margin-top: -3px;
        padding-top: 0;
    }
    #homeBar>li> a{
        background-color:transparent;
    }
   
    .info{
        display: none;
    }
    .mobile{
       
        display:block;
        background-color:rgb(78, 76, 76);
        width: fit-content;
        margin: 0;
        
        height: 100%;
    }
    .mobile >li {
        width: fit-content;
        padding-top: 10%;
    }

      
  }