*{  

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topPage{
   
    background-image: url("images/div_topPage.jpg");
    background-size:     cover;
    background-repeat: no-repeat;
   
    background-position: 30% 50%; 
    height: fit-content;
}

#report{
    flex: 1;
  
    width: fit-content;
}
.list{
    list-style-type: none;
    padding: 1.5vh;
    display:flex;
    justify-content: flex-end;
    
}

#homeBar li{
    padding-right: 3vh; 
    font-weight: bold;
    font-size: 2.2vh;
    text-shadow: 0px 1px 0px black;
      
}
#homeBar li:hover{
    text-decoration: underline;
    color:red;
}

header{
    text-align: center;
    color:red;
   
}
header h1{
    padding-top: 3vh;
    text-shadow: 1px 3px 2px black;
    font-size: 9vh;
    font-weight: bold;    
}
header h2{
    font-size: 3.5vh;
    text-shadow: 1px 1px 1px black;
}
#motivazione{
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px black;
}
.main-container{
    display: grid;
    grid-template-columns: 25% 75%;
}
.main-container > div{
   border: solid;
    padding: 1em;
}
.main-container > aside{
   
}
.article-list > li{
    display: block;
    margin-top: 15px;
    border: solid transparent;
    text-align: center;
}
.article-list > li > a{
    padding: 5%;
    color: black;
}
.article-list > li > a:hover{
    padding: 5%;
    color: rgb(65, 65, 221);
}
.article-img{
    width: 100%;
    padding: 5%;
    padding-bottom: 2.5%;
}
.main-container > .right-content{
    text-align: left;
    background: #dfdfdfa4;
}
.main-container > .right-content > ul{
    list-style-type: none;
}
.main-container > .right-content > ul > li> ul{
    list-style-type: none;
}
.main-container > .right-content > ul > li> h1{
    color:#1945bd;
    text-shadow: 1px 1px 1px #392ed6;
    font-size: 35px;
}
.main-container > .right-content > ul > li> p{
    width: 75%;
    font-size: 21px;
   
}
.highlight{
    background-color: yellow;
}

.bolder{
    font-size: 130%;
    font-weight: bold;
}
#cicatriciList{
    
    padding-left: 2%;
}
.toggle-element{
    width: 75%;
    font-size: 23px;
    font-weight: normal;
    
}
.toggle-element>p{
    font-size: 21px;
    font-weight: lighter;
    text-decoration: none;
}
.main-cicatrici{
    text-decoration: underline;
}
.dont-show{
    display: none;
}
